/* home.css */


body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .Main-home {
    min-width: 99dvw;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #185279;
    padding: 10px 20px;
    color: white;
  }
  
  .logo h3 {
    margin: 0;
  }
  
  .search-engine {
    padding: 5px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  
  .search-engine input {
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 5px;
    margin-left: 10px;
    min-width: 30dvw;
  }
  
  .search-engine button {
    background: none;
    border: none;
    color: rgb(36, 36, 36);
    cursor: pointer;
  }
  .search-engine button:hover {
    background-color: #f3cb1a;
  }
  
  .search-engine button i {
    font-size: 1.2em;
  }
  
  .body-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91dvh; /* Adjust height as needed */
    background-color: #f0f0f0;
  }
  
  .body-page input {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .user-dropdown{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  a{
    text-decoration: none;

  }

  .user-email{
    color: #eeeeee;
    font-weight: bold;
    cursor: pointer;
  }

  .user-shop{
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: #eeeeee;
    transition: 0.05s;
  }

  .main-carrusel{
    width: 100px;
  }

  .s-u{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .user-shop i:hover{
    color: #ffffff;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.05s;
  }
  
  .icon-container {
    position: relative;
    margin-left: 20px;
  }
  
  .dropdown {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 10px;
    z-index: 1000;
  }
  .dropdown::before {
    content: "";
    position: absolute;
    top: -8px; /* Adjust to position the arrow */
    left: 1px; /* Adjust to position the arrow */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    z-index: 1001;
  }
  
  .dropdown h4 {
    color: #185279;
    margin: 0;
    padding: 0;
  }