/* styles.css or styles.scss */
@import 'react-inner-image-zoom/lib/InnerImageZoom/styles.min.css';


.producto-page-body{
    padding: 2%;
    display: flex;
    
}

.product{
    display: flex;
    margin: auto;
    gap: 20px;
    background-color: white;
}

.product-details{
    display: grid;
    
    max-width: 40dvw;
    min-width: 40dvw;
    
}

.vertical-carousel {
    display: flex;
    flex-direction: column;
    max-height: 400px; /* Ajusta según sea necesario */
    gap: 10px;
  }
  
  .carousel-thumbnail {
    width: 80px;
    min-height: 80px;
    max-height: 80px;
    cursor: pointer;

  }
  
  .carousel-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 0.5px;
  }

  .carousel-thumbnail img:hover{
    filter: saturate(0.1);
    border-style: solid;
    border-color: rgb(187, 187, 187);
    border-width: 0.5px;
  }
  
  .carousel-thumbnail.selected img {
    filter: saturate(0.1);
    border-style: solid;
    border-color: rgb(187, 187, 187);
    border-width: 0.5px;
  }

.product figure div img{
    min-height: 50dvh;
    max-height: 50dvh;
    max-width: 25dvw;
    min-width: 25dvw;
   
}

.product figure div{
    background-color: white;
}